.project__container {
    margin-top: 5rem;
}

.project__title {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.project__title-div {
    width: 60vw;
    position: relative;
    margin: 0 auto 4rem auto;
}

.project__body {
    width: 80vw;
    position: relative;
    margin: 0 auto;
}

.project__nav-ul {

    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.project__img {
    text-align: center;
}

.project__img-img {
    border: 1px solid #a6a6a6;
}

.project__icon {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.project__icon-a {
    font-size: 2rem;
    color: rgb(35, 41, 70);
    display: flex;
    align-items: center;
    gap: 3px;
    flex-wrap: nowrap;
    transition: transform 0.3s ease 0s;
    padding: 10px 0px;
}

.project__icon-a:hover {
    transform: translateY(-3px);
}

