.service__model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-model);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 1;
    visibility: hidden;
    transition: .3s;
}

.service__model-content {
    width: 500px;
    position: relative;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.service__model-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.service__model-title,
.service__model-description {
    text-align: center;
}

.service__model-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.service__model-description {
    font-size: var(--small-font-size);
    padding: 0 3.5rem;
    margin-bottom: var(--mb-2);
}

.service__model-services {
    row-gap: 0.75rem;
}

.service__model-service {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.service_model-icon {
    color: var(--title-color);
    font-size: 1.1rem;
}

.service__model-info {
    font-size: var(--small-font-size);
}

/* Active model */
.active-model {
    opacity: 1;
    visibility: visible;
}