.about {
    margin-top: 8rem;
}

.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    columns: 4rem;
    margin-top: 4rem;
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-content: center;
}

.about__description {
    padding: 0.4rem 0 0;
    margin-bottom: var(--mb-2);
}


/* Break Points */
/* Large Device */
@media screen and (max-width: 1120px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
    }

    .about__center,
    .about__data {
        text-align: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 576px) {
    .about__description {
        padding: 0;
    }
}




