.projects__box-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.project__items-img {
    position: relative;
    width: 6rem;
    height: 6rem;
    aspect-ratio: 1/1;
}

.project__items-img img {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
    max-width: 100%;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    object-fit: cover;
}

.project__section-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}